.profile__name {
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    max-width: 90%;
}

@media screen and (max-width: 768px) {
    .profile__name {
        font-size: 27px;
        line-height: 33px;
        max-width: 85%;
    }
}