.elements {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 17px;
    justify-content: flex-start;
}

@media screen and (max-width: 880px) {
    .elements {
        justify-content: center;   
    }
}
