.form__input-error {
    display: block;
    align-self: flex-start;
    padding-left: 36px;
    padding-top: 5px;
    width: 82%;
    max-width: 358px;
    min-height: 30px;
}

@media screen and (max-width: 880px) {
    .form__input-error {
        padding-left: 9%;
    }
}