.auth-form__input {
    all:unset;
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border-bottom: 2px solid #CCCCCC;
    margin-bottom: 30px;
}