.profile__title {
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding-top: 7px;
    max-width: 90%;
}

@media screen and (max-width: 768px) {
    .profile__title {
        max-width: 70vw;
        font-size: 14px;
        line-height: 17px;
    }
}