.popup__close-btn_type_form {
    margin-left: auto;
    margin-bottom: 8px;
    z-index: 21;
}

@media screen and (max-width: 768px) {
    .popup__close-btn_type_form{
        margin-bottom: 19px;
    }
}