.form {
    background: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    max-width: 430px;
    z-index: 20;
    align-items: center;
    position: relative;
    min-height: 330px;
}
  
  .form:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #FFF;
    z-index: -1;
  }

  @media screen and (max-width: 768px) {
    .form {
      min-height: 30px;
    }
}